<ion-header>
  <ion-navbar color="mantis">
    <ion-title>
      My Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let m of foods">
            <ion-item-sliding>
                <ion-item>
                    <ion-avatar item-left>
                        <img src="{{ m.image }}">
                    </ion-avatar>
                    <h2>{{ m.Name }}</h2>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button icon-only color="danger" (click)="removeFromMenu(m)">
                        <ion-icon ios="ios-close" md="md-close"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
</ion-content>
