<ion-content>
    <form name="loginFrm" class="loginForm">
        <ion-list>

            <ion-item>
                <ion-label stacked>Username</ion-label>
                <ion-input type="text" [(ngModel)]="model.username" name="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input type="password" [(ngModel)]="model.password" name="password"></ion-input>
            </ion-item>

        </ion-list>
        <div padding>
            <button class="loginBtn" ion-button block color="2abb9b" (click)="login()">Log In</button>
        </div>
    </form>
    <div class="footer">
        <button class="create-account" ion-button color="light" clear (click)="createAccount()">Create Account</button>
        <button class="forgot-password" ion-button color="light" clear>Forgot password</button>
    </div>
</ion-content>
