page-login, page-register {
    ion-content {
        background: url(../assets/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .fixed-content {
            background-color: #000;
            opacity: 0.5;
        }

        .item-md, .item-ios {
            background: none;
        }

        .item-input .label-md,
        .item-select .label-md,
        .item-datetime .label-md,
        .item-input,
        .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios  {
            color: #fff;
        }

        .loginForm {
            position: absolute;
            top: 30%;
            width: 100%;

            .loginBtn {
                height: 50px;
            }
        }

        .item-md.item-input.input-has-focus .item-inner {
            border-bottom-color: #fff;
            box-shadow: none;
        }

        .input-has-focus .label-md[stacked] {
            color: #fff;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;

            .forgot-password {
                float: right;
            }
        }
    }
}
