<ion-content>
    <form name="loginFrm" class="loginForm">
        <ion-list>

            <ion-item>
                <ion-label stacked>Username</ion-label>
                <ion-input type="text" [(ngModel)]="model.username" name="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input type="password" [(ngModel)]="model.password" name="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Confirm Password</ion-label>
                <ion-input type="password" [(ngModel)]="model.passwordConfirmation" name="passwordConfirmation"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="email" [(ngModel)]="model.email" name="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Date of Birth</ion-label>
                <ion-input type="date" [(ngModel)]="model.dateOfBirth" name="dateOfBirth"></ion-input>
            </ion-item>

        </ion-list>
        <div padding>
            <button class="loginBtn" ion-button block color="2abb9b" (click)="register()">Register</button>
        </div>
    </form>

    <div class="footer">
        <button ion-button color="light" clear (click)="backLogin()">Back to Login</button>
    </div>
</ion-content>
