<ion-tabs tabsPlacement="bottom" color="mantis">
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="contact"></ion-tab>
</ion-tabs>
