<ion-header>
    <div class="project-header">
        <ion-navbar>
            <ion-buttons end>
                <button ion-button (click)="presentPopover($event)">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>

        <ion-list>
            <ion-item>
                <ion-avatar item-left>
                    <img src="/assets/icon/profile.png">
                </ion-avatar>
                <h2>Bean Nguyen</h2>
            </ion-item>
        </ion-list>
    </div>
</ion-header>
<ion-content>
    <ion-fab top right edge>
        <button ion-fab mini><ion-icon name="checkmark" (click)="mathBMI_Click()"></ion-icon></button>
    </ion-fab>
    <ion-grid padding>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked>Age:</ion-label>
                    <ion-input class="input-age" [(ngModel)]="bmi.Age" type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked>Height:</ion-label>
                    <ion-input class="input-height" [(ngModel)]="bmi.Height" type="text"></ion-input>
                </ion-item>
                <p>Cm</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked>Weight:</ion-label>
                    <ion-input class="input-weight" [(ngModel)]="bmi.Weight" type="text"></ion-input>
                </ion-item>
                <p>Kg</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="res-bmi">
        <h2>Your BMI: {{rebmi}}</h2>
    </div>
    <ion-item-group>
        <ion-item-divider color="light">Bảng thống kê</ion-item-divider>
        <ion-item>Dưới chuẩn: BMI ít hơn 18.5 </ion-item>
        <ion-item>Chuẩn: BMI từ 18,5 - 25</ion-item>
        <ion-item>Thừa cân: BMI từ 25-30 </ion-item>
        <ion-item>Béo - nên giảm cân: BMI 30 - 40</ion-item>
        <ion-item>Rất béo – cần giảm cân ngay: BMI trên 40 </ion-item>
    </ion-item-group>
</ion-content>
