page-home {
    ion-list {
        button[ion-fab] {
            width: 42px;
            height: 42px;
        }
    }

    // .segment-md .segment-button {
    //     background-color: #2d3e50
    // }
}
