<ion-header>
    <ion-navbar color="mantis">
        <ion-title>Smart Food</ion-title>
        <ion-buttons start>
            <button ion-button icon-only color="royal">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <div class="filter-menu">
        <ion-segment [(ngModel)]="mealType">
            <ion-segment-button value="morning">
                Sáng
            </ion-segment-button>
            <ion-segment-button value="afternoon" >
                Trưa
            </ion-segment-button>
            <ion-segment-button value="evening" >
                Tối
            </ion-segment-button>
            <ion-segment-button value="desserts" >
                Phụ
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>


<ion-content>
    <ion-list>
        <div *ngFor="let m of menus">
            <ion-list-header *ngIf="m.type == 'header'">
                {{ m.Name }}
            </ion-list-header>
            <ion-item *ngIf="m.type == undefined">
                <ion-thumbnail item-left>
                    <img src="{{ m.image }}">
                </ion-thumbnail>
                <h2>{{ m.Name }}</h2>
                <p>{{ m.Recipe }}</p>
                <p>Năng lượng: {{ m.Energy }}</p>
                <button ion-fab color="light" item-right small (click)="addToMenu(m)" *ngIf="m.selected == false">
                    <ion-icon ios="ios-add" md="md-add"></ion-icon>
                </button>
                <button ion-fab color="light" item-right small (click)="removeFromMenu(m)" *ngIf="m.selected == true" color="danger">
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
