<ion-header>
    <ion-navbar color="mantis">
        <ion-title>My Menu</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let m of menus">
            <ion-thumbnail item-left>
                <img src="{{ m.image }}">
            </ion-thumbnail>
            <h2>{{ m.Name }}</h2>
        </ion-item>
    </ion-list>
</ion-content>
