page-bmi-cal {
    .res-bmi{
      clear: both;
      text-align: center;
      h2{
        color:#2abb9b;
        margin-top: 0px;
      }
    }
  ion-navbar{
    min-height: 65px !important;
  }
  ion-grid{
    padding-top: 0px !important;
    ion-col{
      padding: 0px;
      position: relative;
      ion-item{
        padding-left: 0px !important;
        ion-label{
          font-size: 15px !important;
          font-weight: bold;
          color: #3e3e3e !important;
        }
        .item-inner{
          border: none !important;
          -webkit-box-shadow: none !important;
        	-moz-box-shadow: none !important;
        	box-shadow: none !important;
        }
        .input-age{
          margin-left: 32px;
          width: calc(100% - 32px) !important;
          border-bottom: 1px solid black;
          height: 35px;
        }
        .input-height{
          margin-left: 49px;
          width: calc(100% - 49px) !important;
          border-bottom: 1px solid black;
          height: 35px;
        }
        .input-weight{
          margin-left: 49px;
          width: calc(100% - 49px) !important;
          border-bottom: 1px solid black;
          height: 35px;
        }
      }
      p{
        position: absolute;
        bottom: 0px;
        margin: 0px;
        left: 10px;
        color: #3e3e3e;
        font-size: 12px;
      }
    }
  }
  ion-scroll{
    height: 230px;
  }

  .btn-bottom{
    position: fixed;
    z-index: 10px;
    bottom: 0px;
    button{
      width: calc(100% - 5px);
      margin: 5px;
    }
  }
}
